img {
  border-radius: 50%;
}
.h1{
	color: blue;
	font-family:Papyrus;
	
	
}
.h2{
	display:flex;
	flex-direction:row;
}
.d1{
	
  background-color: lightpink;
  width:400px;
  
  
}
.d2{
	background-color: lightpink;
  width:400px;
 }
.d3{
	background-color: lightpink;
	
  width:400px;
  position:absolute;	
  left:50%;
  top:45px;
}
.d4{
	background-color: lightpink;
	
  width:400px;
  position:absolute;	
  left:50%;
  top:280px;
}
.d5{
  background-color: lightpink;
  width:400px;
  position:absolute;	
  left:50%;
  top:540px;
}
p{
  font-family:Papyrus;
  font-weight: bold;
  font-size: 20px;
}